* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
<<<<<<< HEAD
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f1f25;

    color: white;
    padding: 18px 60px;
}
=======
body {
  
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f0f0;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  height: 100vh;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #14243c;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 18px 60px;
}

>>>>>>> dev
.logo-text {
    margin-left: 13px;
    font-size: 24px;
    align-items: center;
    font-weight: bold;
    color: yellow;
    font-weight: 700;
}
<<<<<<< HEAD
=======

>>>>>>> dev
.logo img {
    height: 56px;
    width: 56px;
    border-radius: 4px;
    margin-right: 14px;
    margin-right: 5px;

}
<<<<<<< HEAD
=======

>>>>>>> dev
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 10px;
    padding: 4px 16px;
    max-width: 320px;
<<<<<<< HEAD
    max-width: 400px;
=======
>>>>>>> dev
    width: 100%;
    gap: 5px;
    padding-left: 4px;
    background-color: aliceblue;
}
<<<<<<< HEAD
.search-icon {
    color: black;
}
=======

.search-icon {
    color: black;
}

>>>>>>> dev
.search-bar input {
    border-radius: 9px;
    width: 100%;
    height: 50px;
    color: black;
    background-color: white;
}
<<<<<<< HEAD
.right-secNavigation ul {
=======

.nav-links ul {
>>>>>>> dev
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    gap: 50px;
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD
ul li a {
    color: white;
=======

ul li a {
    color: #ffffff;
>>>>>>> dev
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: bold;
    align-items: center;
<<<<<<< HEAD
    transition: background 0.2s, color 0.2s;
}
.right-secNavigation a:hover {
    color: red;
    background: rgb(91, 90, 90);
}
a:active {
    color: green;
}
=======
    font-weight: 500;
    transition: #f0f0f0 0.3s ease;
}

.nav-links a:hover {

    background: #1f3a5c;
}

a:active {
    color: green;
}

>>>>>>> dev
.cart {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 100%;
    font-size: 1.7rem;
}
<<<<<<< HEAD
=======

>>>>>>> dev
.cart-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    color: white;
    text-decoration: none;
}
<<<<<<< HEAD
=======

>>>>>>> dev
.cart-set a {
    text-decoration: none;
    color: white;
}
<<<<<<< HEAD
.right-icon {
=======

.profile-icon {
>>>>>>> dev
    display: flex;
    justify-content: center;
    gap: 15px;
}
<<<<<<< HEAD
.right-icon a {
    text-decoration: none;
    color: white;
}
=======

.profile-icon a {
    text-decoration: none;
    color: white;
}

.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}






>>>>>>> dev
