  .dark-toggle-container {
      position: absolute;
      top: 90px; 
      right: 20px;
      z-index: 1000;
    }

    /* Dark Toggle Button Style */
    .dark-toggle-btn {
      background-color:#14243c;
      color: #fff;
      border: none;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      font-size: 20px;
      cursor: pointer;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease;
    }

 